nav.navigation {
  position: fixed;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  background-color: #bcbcbc;

  .navigation {

    //empty rule for now
    &__row {
      width: fit-content;
      box-shadow: inset -1px -1px #0a0a0a, inset 0px 1px #fff, inset 0px -2px grey, inset 0px 2px #dfdfdf;
      display: flex;
    }
  }

  .netscape-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    user-select: none;

    box-shadow: var(--o-windows-button-shadow);

    &:active {
      box-shadow: var(--o-windows-button-active-shadow);
    }

    img {
      padding: 0;
      max-width: 32px;
      height: auto;
    }

    span {
      font-size: 12px;
    }

    &.disabled {
      box-shadow: var(--o-windows-button-disabled-shadow);

      span {
        color: #aca89a;
      }

      &:active {}
    }
  }
}
