.popup__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

}

.skillview {


  padding-bottom: 20px;


  border-bottom: 1.5px solid #ccc;

  & {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }


  &__goals {
    margin-top: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    background: white;
    z-index: 5;
    top: 0;
    padding-top: 10px;
    height: 135px;

    &__clickframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: transparent;
    }
  }

  p {
    &::before {
      content: '- '
    }
  }

  span.expand-message {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .collapsible {
    max-height: 0px;
    transition: max-height 0.3s ease;
    overflow: hidden;
    --collapsible-height: 1000px;
    padding-bottom: 20px;

    &.open {
      max-height: var(--collapsible-height);
    }


  }



  button.add_goal {
    margin-top: 25px;
  }
}
