.popup__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

}

.skillview {


  padding-bottom: 20px;


  border-bottom: 1.5px solid #ccc;

  & {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }


  &__goals {
    margin-top: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    background: white;
    z-index: 5;
    top: 0;
    padding-top: 10px;
    height: 115px;
  }

  p {
    &::before {
      content: '- '
    }
  }



  button.add_goal {
    margin-top: 25px;
  }
}
