.input--label {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  --padding-tb: .5rem;
  --border-color: #ffffff;
  --bg: #f0f0f0;

  label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
  }

  text-area,
  input {
    background: var(--bg) !important;
    border: 3px solid var(--border-color);
    padding: var(--padding-tb) .75rem;
  }

  textarea {
    max-height: 4rem;
    resize: none;
    border-radius: .2rem;
    outline: none;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    border-radius: .2rem;
    outline: none;
    font-size: 1.1rem;
    border-radius: .5rem;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }
}
