@import './globals.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden
}

div#root {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

main {
  margin-top: calc(75px + var(--navigation-bar-top));
  max-width: 600px;
  width: 600px;

  &.home {
    p {
      margin: 10px;
    }
  }
}

h1,
h2,
p {
  margin: 0;
}


button.add_skill {
  width: 100%;
  margin-top: 25px;
}

.version {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.feedback {
  padding-bottom: 3rem;
}
