@import './globals.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
}

div#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  margin-top: 75px;
  max-width: 600px;
  width: 600px;
}

h1,
h2,
p {
  margin: 0;
}

p {
  margin: 10px;
}

button.add_skill {
  width: 100%;
  margin-top: 25px;
}

.version {
  position: fixed;
  bottom: 10px;
  right: 20px;

}
