:root {

  --accent: #F46224;

  --title-bar: #2A2A2A;
  --side-bar: #212121;
  --stroke-inner: #141414;
  --stroke-outer: #444444;
  //sidebar
  --sidebar-width: 22.6429rem;
  --sidebar-content-width: 20.0000rem;
  --sidebar-selected: var(--title-bar);
  --sidebar-icon: var(--accent);
  --sidebar-icon-size: 1.2rem;
  --sidebar-label: #4B4B4B;
  --sidebar-label-weight: 600;
  --sidebar-label-size: 1.2429rem;
  --sidebar-item-height: 2.2857rem;
  --sidebar-item-radius: 0.5000rem;
  --sidebar-item-active: #363636;
  --sidebar-item-font-size: 0.8571rem;
  //window
  --window-background: #1F1F1F;
  --window-width: 112.7857rem;
  --window-height: 55.1429rem;
  --window-radius: 21px;

  /*
  @include media('<=MDLGdesktop') {
    --window-width: 100rem;
    --window-height: 50rem;
  }

  @include media('<=MDdesktop') {
    --window-width: 90rem;
    --window-height: 45rem;
  }

  @include media('<=desktop') {
    --window-width: 80rem;
    --window-height: 40rem;
  }
  */
  //buttons (title bar)
  --button-red: #ff5f57;
  --button-yellow: #ffb502;
  --button-green: #29ca41;
  //popup
  --window-popup-min-width: 40.9375rem;
  --window-popup-min-height: 8.5125rem;
  --window-popup-max-width: 90.0000rem;
  --window-popup-max-height: 90.0000rem;
  --window-popup-background: var(--window-background);
  --window-popup-stroke: var(--stroke-outer);
  --window-popup-border-radius: 1.3125rem;
  --window-popup-padding: 1.5rem 2.0000rem;
  //topbar
  --topbar-height: 6.1429rem;
  --topbar-width: 100%;
  --topbar-max-width: 90.0714rem;
  //activity
  --progress-bar-height: 0.3571rem;
  --progress-bar-track: #525252;
  --progress-bar-fill: var(--accent);
  --activity-width: 18.7143rem;
  --activity-title-font-size: 1.9286rem;
  --activity-title-weight: 500;
  --activity-button-icon-size: 1.7143rem;
  --activity-button-icon-color: #646464;

  font-family: 'Inter', sans-serif;

}
