@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

:root {

  --accent: #F46224;

  --title-bar: #2A2A2A;
  --side-bar: #212121;
  --stroke-inner: #141414;
  --stroke-outer: #444444;
  /*
  @include media('<=MDLGdesktop') {
    --window-width: 100rem;
    --window-height: 50rem;
  }

  @include media('<=MDdesktop') {
    --window-width: 90rem;
    --window-height: 45rem;
  }

  @include media('<=desktop') {
    --window-width: 80rem;
    --window-height: 40rem;
  }
  */
  //buttons (title bar)
  --button-red: #ff5f57;
  --button-yellow: #ffb502;
  --button-green: #29ca41;
  //activity
  --progress-bar-height: 0.3571rem;
  --progress-bar-track: #525252;
  --progress-bar-fill: var(--accent);
  --activity-width: 18.7143rem;
  --activity-title-font-size: 1.9286rem;
  --activity-title-weight: 500;
  --activity-button-icon-size: 1.7143rem;
  --activity-button-icon-color: #646464;

  //old windows settings
  --o-windows-bg-color: #bcbcbc;
  --o-windows-button-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --o-windows-button-active-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;
  --o-windows-button-disabled-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;

  //popup
  --window-popup-min-width: 30rem;
  --window-popup-max-width: 60rem;
  --window-popup-min-height: 10rem;
  --window-popup-max-height: 80vw;
  --window-popup-background: #1e1e1e;
  --window-popup-border-radius: 0.5571rem;
  --window-popup-padding: 2.0714rem;
  --window-popup-stroke: #9f9f9f;

  //navigation
  --navigation-bar-top: 1.5rem;
  --navigation-bar-track-color: #f3f3f3;
  --navigation-bar-button-color: #ffffff;
  --navigation-bar-button-hover-color: #e4e4e4;
  --navigation-bar-button-border-color: #e8e8e8;

  //messagescreen
  --messagescreen-bg-color: #000000a0;
  --messagescreen-content-bg-color: #1f1e2c;
  --messagescreen-content-border-color: #626262;
  //messagescreen-content
  --messagescreen-red-color: #ff715b;
  --messagescreen-purple-color: #b86bff;
  --messagescreen-blue-color: #1d88ed;
  //messagescreen-scrollbar
  --messagescreen-scrollbar-thumb-color: #4a4a4a;
  --messagescreen-scrollbar-track-color: #2f2f2f;

  //z-index book

  font-family: 'Inter', sans-serif;

}

.inter {
  font-family: 'Inter', sans-serif;
}

.lexend {
  font-family: 'Lexend', sans-serif;
}
